@font-face {
  font-family: 'Fraunces';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fraunces-v22-latin-regular.woff2") format("woff2"), url("../fonts/fraunces-v22-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Fraunces';
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v22-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v22-latin-900.woff") format("woff");
}

@font-face {
  font-family: 'Barlow';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Barlow';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff");
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Arial', sans-serif;
  font-size: 16px;
}

img {
  vertical-align: middle;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Fraunces', 'Arial', sans-serif;
}

p {
  margin: 0;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding: 44px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin-left: 32px;
}

.nav__item-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  text-decoration: none;
}

.nav__item-link:hover {
  color: #333D4B;
}

.hero {
  margin-bottom: 126px;
}

.hero__container {
  background-image: url("./../images/header-bgi.jpg");
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 117px 85px;
}

.hero__wrapper {
  max-width: 493px;
  width: 100%;
}

.hero__wrapper-heading {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.hero__wrapper-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
  margin-bottom: 56px;
}

.hero__wrapper-btn {
  border: none;
  outline: none;
  background: #0E8784;
  border-radius: 6px;
  padding: 15px 30px;
  font-family: 'Fraunces', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
}

.hero__wrapper-btn:hover {
  background-color: #66D2CF;
}

.hero__wrapper-btn:active {
  background-color: #E2DEDB;
}

@media only screen and (max-width: 768px) {
  .hero {
    margin-bottom: 144px;
  }
  .hero__container {
    max-width: 689px;
    width: 100%;
    padding: 104px 58px;
  }
  .hero__wrapper {
    max-width: 398px;
    width: 100%;
  }
  .hero__wrapper-heading {
    max-width: 329px;
    width: 100%;
    font-size: 48px;
    line-height: 48px;
  }
  .hero__wrapper-text {
    width: 398px;
    font-size: 15px;
    line-height: 25px;
  }
}

.collection {
  margin-bottom: 194px;
}

.collection__inner-container {
  max-width: 1112px;
}

.collection__container {
  background-image: url("./../images/our-collection.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0;
  padding-top: 126px;
}

.collection__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collection__item {
  max-width: 255px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.collection__item:not(:last-child) {
  margin-right: 10px;
}

.collection__item:hover {
  width: 255px;
  height: 400px;
  background-color: rgba(254, 230, 199, 0.582);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.collection__item-img {
  margin-bottom: 72px;
  max-width: 255px;
  width: 100%;
}

.collection__item-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
  margin-bottom: 24px;
}

.collection__item-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}

@media only screen and (max-width: 768px) {
  .collection {
    margin-bottom: 144px;
  }
  .collection__inner-container {
    max-width: 689px;
    width: 100%;
  }
  .collection__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .collection__item {
    max-width: 573px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .collection__item__text-wrapper {
    max-width: 282px;
    width: 100%;
  }
  .collection__item:hover {
    width: 573px;
    height: 193px;
    background-color: rgba(254, 230, 199, 0.582);
  }
  .collection__item-img {
    margin: 0;
  }
  .collection__item-title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
    text-align: left;
  }
  .collection__item-subtitle {
    text-align: left;
    max-width: 282px;
  }
}

.feedback {
  margin-bottom: 357px;
}

.feedback__container {
  max-width: 1280px;
  width: 100%;
  background-color: #333D4B;
  border-radius: 8px;
  padding: 106px 370px 311px 370px;
  position: relative;
}

.feedback__top {
  max-width: 529px;
  width: 100%;
}

.feedback__top-heading {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.feedback__top-text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  opacity: 0.8;
}

.feedback__list {
  max-width: 1110px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 352px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.feedback__item {
  max-width: 350px;
  width: 100%;
  background-color: #0E8784;
  border-radius: 8px;
  padding: 200px 48px 48px 48px;
}

.feedback__item:not(:last-child) {
  margin-right: 10px;
}

.feedback__item::before {
  content: "";
  display: inline-block;
  width: 71px;
  height: 72px;
  background-image: url("./../../images/coffee-shape.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 72px;
  left: 136px;
}

.feedback__item:nth-child(2)::before {
  background-image: url("./../../images/gift-shape.svg");
}

.feedback__item:nth-child(3)::before {
  background-image: url("./../../images/combined-shape.svg");
}

.feedback__item-title {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
  margin-bottom: 24px;
}

.feedback__item-subtitle {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
}

@media only screen and (max-width: 768px) {
  .feedback {
    margin-bottom: 434px;
  }
  .feedback__container {
    max-width: 688px;
    width: 100%;
    padding: 56px 74px 368px 74px;
  }
  .feedback__top {
    max-width: 540px;
    width: 100%;
  }
  .feedback__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 275px;
  }
  .feedback__item {
    max-width: 573px;
    width: 100%;
    margin-bottom: 24px;
    padding: 41px 48px 41px 181px;
  }
  .feedback__text-wrapper {
    max-width: 344px;
    width: 100%;
  }
  .feedback__item-title {
    text-align: left;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  .feedback__item-subtitle {
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */