@font-face {
  font-family: 'Fraunces';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fraunces-v22-latin-regular.woff2") format("woff2"), url("../fonts/fraunces-v22-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Fraunces';
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v22-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v22-latin-900.woff") format("woff");
}

@font-face {
  font-family: 'Barlow';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Barlow';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff");
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Arial', sans-serif;
  font-size: 16px;
  background-color: green;
}

img {
  vertical-align: middle;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Fraunces', 'Arial', sans-serif;
}

p {
  margin: 0;
}

@media only screen and (max-width: 630px) {
  body {
    padding-top: 90px;
  }
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 43px 0;
}

.header__logo-img {
  max-width: 235px;
  width: 100%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 33px;
}

.header__item-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  text-decoration: none;
}

.header__item-link:hover {
  color: #333D4B;
}

.header__burger-btn {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  display: none;
}

.header__burger-close {
  display: none;
}

@media only screen and (max-width: 630px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: gold;
  }
  .header__inner-container {
    padding: 0 24px;
    position: relative;
  }
  .header__container {
    padding-top: 32px;
    padding-bottom: 40px;
  }
  .header__container--active .header__nav {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__container--active .header__burger-open {
    display: none;
  }
  .header__container--active .header__burger-close {
    display: inline-block;
  }
  .header__logo-img {
    max-width: 163px;
    height: 18px;
  }
  .header__nav {
    width: 100%;
    height: calc(100vh - 100%);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #c7c7c7;
    padding-top: 40px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(254, 252, 247, 0.504981)), color-stop(55.94%, #FEFCF7));
    background: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
    font-family: 'Fraunces', 'Arial', sans-serif;
  }
  .header__item:active {
    color: #83888F;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .header__item-link {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
    text-transform: capitalize;
  }
  .header__item-link:active {
    color: #83888F;
  }
  .header__burger-btn {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */