html {
   scroll-behavior: smooth;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Barlow', 'Arial', sans-serif;
   font-size: 16px;
   background-color: green;
}

img {
   vertical-align: middle;
}

ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
   font-family: 'Fraunces', 'Arial', sans-serif;
}

p {
   margin: 0;
}

@media only screen and (max-width: 630px) {
   body {
      padding-top: 90px;
   }
}