.collection {
   
   margin-bottom: 194px;
   
   &__inner-container {
      max-width: 1112px;
   }
   
   &__container {
      background-image: url("./../images/our-collection.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 0;
      padding-top: 126px;
   }
   
   &__list {
      display: flex;
      justify-content: space-between;
   }
   
   &__item {
      max-width: 255px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.3s ease;
   }
   
   &__item:not(:last-child) {
      margin-right: 10px;
   }
   
   &__item:hover {
      width: 255px;
      height: 400px;
      background-color: rgba(254, 230, 199, 0.582);
      transform: scale(1.1);
   }
   
   &__item-img {
      margin-bottom: 72px;
      max-width: 255px;
      width: 100%;
   }
   
   &__item-title {
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: #333D4B;
      margin-bottom: 24px;
   }
   
   &__item-subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #333D4B;
   }
}

@media only screen and (max-width: 768px) {
   .collection {

      margin-bottom: 144px;
      
      &__inner-container {
         max-width: 689px;
         width: 100%;
      }
      
      &__container {
      }
      
      &__list {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
      
      &__item {
         max-width: 573px;
         width: 100%;
         flex-direction: row;
         justify-content: space-between;
         margin-bottom: 32px;
         display: flex;

         &__text-wrapper {
            max-width: 282px;
            width: 100%;
         }
      }

      &__item:hover {
         width: 573px;
         height: 193px;
         background-color: rgba(254, 230, 199, 0.582);
      }
      
      &__item-img {
         margin: 0;
      }
      
      &__item-title {

         font-size: 24px;
         line-height: 32px;
         margin-bottom: 24px;
         text-align: left;
      }
      
      &__item-subtitle {
         text-align: left;
         max-width: 282px;
      }
   }
}